# Scraping using pandas

In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.0.5'

In [27]:
df = pd.read_html('https://www.ahd.com/state_statistics.html')
len(df)

2

In [6]:
df[0]

,State,NumberHospitals,StaffedBeds,TotalDischarges,PatientDays,Gross PatientRevenue ($000)
0,AK - Alaska,10,1235,45209,243272,"$5,374,320"
1,AL - Alabama,89,15335,592565,2815800,"$63,052,340"
2,AR - Arkansas,52,7872,317352,1390404,"$27,878,074"
3,AS - American Samoa,1,0,0,0,$0
4,AZ - Arizona,73,13416,610429,2667387,"$80,504,154"
5,CA - California,344,74724,3087604,14351572,"$477,960,968"
6,CO - Colorado,55,8181,394971,1755988,"$67,718,468"
7,CT - Connecticut,34,8798,368120,1742965,"$40,204,715"
8,DC - Washington D.C.,7,2117,93225,586450,"$12,585,158"
9,DE - Delaware,8,2072,93905,470640,"$7,927,141"
10,FL - Florida,215,56245,2582947,11805766,"$339,261,163"
11,GA - Georgia,112,22521,938545,4720727,"$109,617,143"
12,GU - Guam,3,306,12300,73681,"$424,341"
13,HI - Hawaii,14,2583,88997,520820,"$8,136,372"
14,IA - Iowa,39,6426,266028,1188375,"$25,381,762"
15,ID - Idaho,19,2455,114029,472270,"$13,095,412"
16,IL - Illinois,143,29137,1238080,5602099,"$149,958,964"
17,IN - Indiana,101,16026,685817,3110710,"$81,150,880"
18,KS - Kansas,55,6341,271329,1191212,"$33,685,811"
19,KY - Kentucky,74,13634,532581,2497238,"$59,071,973"
20,LA - Louisiana,108,15061,513105,2439617,"$58,192,076"
21,MA - Massachusetts,73,15192,743119,3618061,"$71,408,802"
22,MD - Maryland,53,10802,557057,2832279,"$19,331,430"
23,ME - Maine,19,2887,111879,538476,"$11,321,002"
24,MI - Michigan,105,23681,1133133,4817558,"$97,497,735"
25,MN - Minnesota,55,10504,504375,2255634,"$45,089,541"
26,MO - Missouri,83,16705,710621,3273455,"$74,240,919"
27,MP - Northern Mariana Islands,1,74,3466,15927,$0
28,MS - Mississippi,69,10049,318290,1494950,"$36,215,071"
29,MT - Montana,17,2202,85996,344680,"$7,493,498"
30,NC - North Carolina,108,22353,988598,4862283,"$103,690,769"
31,ND - North Dakota,10,2003,75739,360787,"$8,609,668"
32,NE - Nebraska,26,4245,179219,825790,"$15,311,677"
33,NH - New Hampshire,14,2276,104378,514050,"$13,687,853"
34,NJ - New Jersey,78,20213,881796,4326435,"$124,874,204"
35,NM - New Mexico,37,3887,164865,760954,"$18,346,196"
36,NV - Nevada,31,5726,286333,1402383,"$44,337,273"
37,NY - New York,186,57299,2196518,11788971,"$249,710,057"
38,OH - Ohio,147,27088,1203003,5429335,"$144,798,909"
39,OK - Oklahoma,90,10287,406804,1894323,"$48,238,938"
40,OR - Oregon,37,6139,319582,1402531,"$28,652,311"
41,PA - Pennsylvania,176,34791,1448205,6779243,"$209,029,512"
42,PR - Puerto Rico,52,8247,306648,1758483,"$4,738,866"
43,RI - Rhode Island,11,2440,108782,503639,"$10,462,713"
44,SC - South Carolina,66,11759,476285,2372819,"$61,885,632"
45,SD - South Dakota,24,2741,95519,400075,"$11,874,583"
46,TN - Tennessee,100,18446,780038,3707542,"$87,161,771"
47,TX - Texas,361,58370,2631794,12189783,"$337,754,000"
48,UT - Utah,35,4640,210497,830260,"$20,421,047"
49,VA - Virginia,90,17759,728980,3500914,"$84,900,138"
50,VI - Virgin Islands,2,184,5572,33229,"$249,410"
51,VT - Vermont,7,835,38540,198496,"$4,617,302"
52,WA - Washington,62,10322,543013,2500227,"$66,395,948"
53,WI - Wisconsin,77,11080,495561,2209646,"$58,175,208"
54,WV - West Virginia,34,5396,208540,1052914,"$19,297,770"
55,WY - Wyoming,14,1261,32221,116147,"$3,070,645"
56,T O T A L,3906,746368,31932104,150559272,"$3,804,071,633"

In [29]:
urls = ['https://www.ahd.com/states/hospital_AK.html','https://www.ahd.com/states/hospital_AL.html']

for url in urls:
   print(url)

https://www.ahd.com/states/hospital_MI.html
https://www.ahd.com/states/hospital_AK.html
https://www.ahd.com/states/hospital_AL.html

# This is kind of working but access is not happening

In [44]:
urls = ['https://www.ahd.com/states/hospital_MI.html','https://www.ahd.com/states/hospital_AK.html','https://www.ahd.com/states/hospital_AL.html']

for url in urls:
    for i in range(len(urls)):
        df = None
        temp_var = "hostial_state"+str(i)
        df = pd.read_html(str(url))
        df = df[0] # get first table
        df.to_csv(temp_var + '.csv',sep='?') # use questionmark to seperate

In [53]:
urls = ['https://www.ahd.com/states/hospital_AK.html','https://www.ahd.com/states/hospital_AL.html','https://www.ahd.com/states/hospital_AR.html','https://www.ahd.com/states/hospital_AZ.html','https://www.ahd.com/states/hospital_CA.html','https://www.ahd.com/states/hospital_CO.html','https://www.ahd.com/states/hospital_CT.html','https://www.ahd.com/states/hospital_DC.html','https://www.ahd.com/states/hospital_DE.html','https://www.ahd.com/states/hospital_FL.html','https://www.ahd.com/states/hospital_GA.html','https://www.ahd.com/states/hospital_HI.html','https://www.ahd.com/states/hospital_IA.html','https://www.ahd.com/states/hospital_ID.html','https://www.ahd.com/states/hospital_IL.html','https://www.ahd.com/states/hospital_IN.html','https://www.ahd.com/states/hospital_KS.html','https://www.ahd.com/states/hospital_KY.html','https://www.ahd.com/states/hospital_LA.html','https://www.ahd.com/states/hospital_MA.html','https://www.ahd.com/states/hospital_ME.html','https://www.ahd.com/states/hospital_MI.html','https://www.ahd.com/states/hospital_MN.html','https://www.ahd.com/states/hospital_MO.html','https://www.ahd.com/states/hospital_MS.html','https://www.ahd.com/states/hospital_MT.html','https://www.ahd.com/states/hospital_NC.html','https://www.ahd.com/states/hospital_ND.html','https://www.ahd.com/states/hospital_ND.html','https://www.ahd.com/states/hospital_NE.html','https://www.ahd.com/states/hospital_NH.html','https://www.ahd.com/states/hospital_NJ.html','https://www.ahd.com/states/hospital_NM.html','https://www.ahd.com/states/hospital_NV.html','https://www.ahd.com/states/hospital_NY.html','https://www.ahd.com/states/hospital_OH.html','https://www.ahd.com/states/hospital_OK.html','https://www.ahd.com/states/hospital_OR.html','https://www.ahd.com/states/hospital_PA.html','https://www.ahd.com/states/hospital_RI.html','https://www.ahd.com/states/hospital_SC.html','https://www.ahd.com/states/hospital_SD.html','https://www.ahd.com/states/hospital_TN.html','https://www.ahd.com/states/hospital_TX.html','https://www.ahd.com/states/hospital_UT.html','https://www.ahd.com/states/hospital_VA.html','https://www.ahd.com/states/hospital_VT.html','https://www.ahd.com/states/hospital_WA.html','https://www.ahd.com/states/hospital_WI.html','https://www.ahd.com/states/hospital_WV.html','https://www.ahd.com/states/hospital_WY.html']

for url in urls:
   print(url)

https://www.ahd.com/states/hospital_AK.html
https://www.ahd.com/states/hospital_AL.html
https://www.ahd.com/states/hospital_AR.html
https://www.ahd.com/states/hospital_AZ.html
https://www.ahd.com/states/hospital_CA.html
https://www.ahd.com/states/hospital_CO.html
https://www.ahd.com/states/hospital_CT.html
https://www.ahd.com/states/hospital_DC.html
https://www.ahd.com/states/hospital_DE.html
https://www.ahd.com/states/hospital_FL.html
https://www.ahd.com/states/hospital_GA.html
https://www.ahd.com/states/hospital_HI.html
https://www.ahd.com/states/hospital_IA.html
https://www.ahd.com/states/hospital_ID.html
https://www.ahd.com/states/hospital_IL.html
https://www.ahd.com/states/hospital_IN.html
https://www.ahd.com/states/hospital_KS.html
https://www.ahd.com/states/hospital_KY.html
https://www.ahd.com/states/hospital_LA.html
https://www.ahd.com/states/hospital_MA.html
https://www.ahd.com/states/hospital_ME.html
https://www.ahd.com/states/hospital_MI.html
https://www.ahd.com/states/hospital_MN.html
https://www.ahd.com/states/hospital_MO.html
https://www.ahd.com/states/hospital_MS.html
https://www.ahd.com/states/hospital_MT.html
https://www.ahd.com/states/hospital_NC.html
https://www.ahd.com/states/hospital_ND.html
https://www.ahd.com/states/hospital_ND.html
https://www.ahd.com/states/hospital_NE.html
https://www.ahd.com/states/hospital_NH.html
https://www.ahd.com/states/hospital_NJ.html
https://www.ahd.com/states/hospital_NM.html
https://www.ahd.com/states/hospital_NV.html
https://www.ahd.com/states/hospital_NY.html
https://www.ahd.com/states/hospital_OH.html
https://www.ahd.com/states/hospital_OK.html
https://www.ahd.com/states/hospital_OR.html
https://www.ahd.com/states/hospital_PA.html
https://www.ahd.com/states/hospital_RI.html
https://www.ahd.com/states/hospital_SC.html
https://www.ahd.com/states/hospital_SD.html
https://www.ahd.com/states/hospital_TN.html
https://www.ahd.com/states/hospital_TX.html
https://www.ahd.com/states/hospital_UT.html
https://www.ahd.com/states/hospital_VA.html
https://www.ahd.com/states/hospital_VT.html
https://www.ahd.com/states/hospital_WA.html
https://www.ahd.com/states/hospital_WI.html
https://www.ahd.com/states/hospital_WV.html
https://www.ahd.com/states/hospital_WY.html

# Get states individually

In [49]:
AK = pd.read_html('https://www.ahd.com/states/hospital_AK.html')
AL = pd.read_html('https://www.ahd.com/states/hospital_AL.html')
AR = pd.read_html('https://www.ahd.com/states/hospital_AR.html')
AZ = pd.read_html('https://www.ahd.com/states/hospital_AZ.html')
CA = pd.read_html('https://www.ahd.com/states/hospital_CA.html')
CO = pd.read_html('https://www.ahd.com/states/hospital_CO.html')
CT = pd.read_html('https://www.ahd.com/states/hospital_CT.html')
DC = pd.read_html('https://www.ahd.com/states/hospital_DC.html')
DE = pd.read_html('https://www.ahd.com/states/hospital_DE.html')
FL = pd.read_html('https://www.ahd.com/states/hospital_FL.html')
GA = pd.read_html('https://www.ahd.com/states/hospital_GA.html')
HI = pd.read_html('https://www.ahd.com/states/hospital_HI.html')
IA = pd.read_html('https://www.ahd.com/states/hospital_IA.html')
ID = pd.read_html('https://www.ahd.com/states/hospital_ID.html')
IL = pd.read_html('https://www.ahd.com/states/hospital_IL.html')
IN = pd.read_html('https://www.ahd.com/states/hospital_IN.html')
KS = pd.read_html('https://www.ahd.com/states/hospital_KS.html')
KY = pd.read_html('https://www.ahd.com/states/hospital_KY.html')
LA = pd.read_html('https://www.ahd.com/states/hospital_LA.html')
MA = pd.read_html('https://www.ahd.com/states/hospital_MA.html')
ME = pd.read_html('https://www.ahd.com/states/hospital_ME.html')
MI = pd.read_html('https://www.ahd.com/states/hospital_MI.html')
MN = pd.read_html('https://www.ahd.com/states/hospital_MN.html')
MO = pd.read_html('https://www.ahd.com/states/hospital_MO.html')
MS = pd.read_html('https://www.ahd.com/states/hospital_MS.html')
MT = pd.read_html('https://www.ahd.com/states/hospital_MT.html')
NC = pd.read_html('https://www.ahd.com/states/hospital_NC.html')
ND = pd.read_html('https://www.ahd.com/states/hospital_ND.html')
NE = pd.read_html('https://www.ahd.com/states/hospital_NE.html')
NH = pd.read_html('https://www.ahd.com/states/hospital_NH.html')
NJ = pd.read_html('https://www.ahd.com/states/hospital_NJ.html')
NM = pd.read_html('https://www.ahd.com/states/hospital_NM.html')
NV = pd.read_html('https://www.ahd.com/states/hospital_NV.html')
NY = pd.read_html('https://www.ahd.com/states/hospital_NY.html')
OH = pd.read_html('https://www.ahd.com/states/hospital_OH.html')
OK = pd.read_html('https://www.ahd.com/states/hospital_OK.html')
OR = pd.read_html('https://www.ahd.com/states/hospital_OR.html')
PA = pd.read_html('https://www.ahd.com/states/hospital_PA.html')
RI = pd.read_html('https://www.ahd.com/states/hospital_RI.html')
SC = pd.read_html('https://www.ahd.com/states/hospital_SC.html')
SD = pd.read_html('https://www.ahd.com/states/hospital_SD.html')
TN = pd.read_html('https://www.ahd.com/states/hospital_TN.html')
TX = pd.read_html('https://www.ahd.com/states/hospital_TX.html')
UT = pd.read_html('https://www.ahd.com/states/hospital_UT.html')
VA = pd.read_html('https://www.ahd.com/states/hospital_VA.html')
VT = pd.read_html('https://www.ahd.com/states/hospital_VT.html')
WA = pd.read_html('https://www.ahd.com/states/hospital_WA.html')
WI = pd.read_html('https://www.ahd.com/states/hospital_WI.html')
WV = pd.read_html('https://www.ahd.com/states/hospital_WV.html')
WY = pd.read_html('https://www.ahd.com/states/hospital_WY.html')

In [50]:
AK =AK[0]
AL =AL[0]
AR =AR[0]
AZ =AZ[0]
CA =CA[0]
CO =CO[0]
CT =CT[0]
DC =DC[0]
DE =DE[0]
FL =FL[0]
GA =GA[0]
HI =HI[0]
IA =IA[0]
ID =ID[0]
IL =IL[0]
IN =IN[0]
KS =KS[0]
KY =KY[0]
LA =LA[0]
MA =MA[0]
ME =ME[0]
MI =MI[0]
MN =MN[0]
MS =MS[0]
MT =MT[0]
NC =NC[0]
ND =ND[0]
NE =NE[0]
NH =NH[0]
NJ =NJ[0]
NM =NM[0]
NV =NV[0]
NY =NY[0]
OH =OH[0]
OK =OK[0]
OR =OR[0]
PA =PA[0]
RI =RI[0]
SC =SC[0]
SD =SD[0]
TN =TN[0]
TX =TX[0]
UT =UT[0]
VA =VA[0]
VT =VT[0]
WA =WA[0]
WI =WI[0]
WV =WV[0]
WY =WY[0]

In [52]:
AK

,Hospital Name,City,StaffedBeds,TotalDischarges,PatientDays,Gross PatientRevenue ($000)
0,Alaska Native Medical Center,Anchorage,174,8376,38396,$0
1,Alaska Regional Hospital,Anchorage,174,6388,34726,"$1,135,761"
2,Bartlett Regional Hospital,Juneau,57,1647,6733,"$175,008"
3,Central Peninsula General Hospital,Soldotna,109,2525,9823,"$377,680"
4,Foundation Health Partners Fairbanks Memorial ...,Fairbanks,212,4467,20829,"$501,562"
5,JBER Elmendorf Air Force Base Hospital,Elmendorf Air Force Base,0,0,0,$0
6,Mat-Su Regional Medical Center,Palmer,74,4324,17811,"$744,062"
7,Providence Alaska Medical Center,Anchorage,401,15660,109991,"$2,440,247"
8,The Children's Hospital at Providence,Anchorage,0,0,0,$0
9,Yukon-Kuskokwim Delta Regional Hospital,Bethel,34,1822,4963,$0
10,T O T A L,NaN,1235,45209,243272,"$5,374,320"