# Scraping using pandas

In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.0.5'

In [27]:
df = pd.read_html('https://www.ahd.com/state_statistics.html')
len(df)

2

In [6]:
df[0]

,State,NumberHospitals,StaffedBeds,TotalDischarges,PatientDays,Gross PatientRevenue ($000)
0,AK - Alaska,10,1235,45209,243272,"$5,374,320"
1,AL - Alabama,89,15335,592565,2815800,"$63,052,340"
2,AR - Arkansas,52,7872,317352,1390404,"$27,878,074"
3,AS - American Samoa,1,0,0,0,$0
4,AZ - Arizona,73,13416,610429,2667387,"$80,504,154"
5,CA - California,344,74724,3087604,14351572,"$477,960,968"
6,CO - Colorado,55,8181,394971,1755988,"$67,718,468"
7,CT - Connecticut,34,8798,368120,1742965,"$40,204,715"
8,DC - Washington D.C.,7,2117,93225,586450,"$12,585,158"
9,DE - Delaware,8,2072,93905,470640,"$7,927,141"
10,FL - Florida,215,56245,2582947,11805766,"$339,261,163"
11,GA - Georgia,112,22521,938545,4720727,"$109,617,143"
12,GU - Guam,3,306,12300,73681,"$424,341"
13,HI - Hawaii,14,2583,88997,520820,"$8,136,372"
14,IA - Iowa,39,6426,266028,1188375,"$25,381,762"
15,ID - Idaho,19,2455,114029,472270,"$13,095,412"
16,IL - Illinois,143,29137,1238080,5602099,"$149,958,964"
17,IN - Indiana,101,16026,685817,3110710,"$81,150,880"
18,KS - Kansas,55,6341,271329,1191212,"$33,685,811"
19,KY - Kentucky,74,13634,532581,2497238,"$59,071,973"
20,LA - Louisiana,108,15061,513105,2439617,"$58,192,076"
21,MA - Massachusetts,73,15192,743119,3618061,"$71,408,802"
22,MD - Maryland,53,10802,557057,2832279,"$19,331,430"
23,ME - Maine,19,2887,111879,538476,"$11,321,002"
24,MI - Michigan,105,23681,1133133,4817558,"$97,497,735"
25,MN - Minnesota,55,10504,504375,2255634,"$45,089,541"
26,MO - Missouri,83,16705,710621,3273455,"$74,240,919"
27,MP - Northern Mariana Islands,1,74,3466,15927,$0
28,MS - Mississippi,69,10049,318290,1494950,"$36,215,071"
29,MT - Montana,17,2202,85996,344680,"$7,493,498"
30,NC - North Carolina,108,22353,988598,4862283,"$103,690,769"
31,ND - North Dakota,10,2003,75739,360787,"$8,609,668"
32,NE - Nebraska,26,4245,179219,825790,"$15,311,677"
33,NH - New Hampshire,14,2276,104378,514050,"$13,687,853"
34,NJ - New Jersey,78,20213,881796,4326435,"$124,874,204"
35,NM - New Mexico,37,3887,164865,760954,"$18,346,196"
36,NV - Nevada,31,5726,286333,1402383,"$44,337,273"
37,NY - New York,186,57299,2196518,11788971,"$249,710,057"
38,OH - Ohio,147,27088,1203003,5429335,"$144,798,909"
39,OK - Oklahoma,90,10287,406804,1894323,"$48,238,938"
40,OR - Oregon,37,6139,319582,1402531,"$28,652,311"
41,PA - Pennsylvania,176,34791,1448205,6779243,"$209,029,512"
42,PR - Puerto Rico,52,8247,306648,1758483,"$4,738,866"
43,RI - Rhode Island,11,2440,108782,503639,"$10,462,713"
44,SC - South Carolina,66,11759,476285,2372819,"$61,885,632"
45,SD - South Dakota,24,2741,95519,400075,"$11,874,583"
46,TN - Tennessee,100,18446,780038,3707542,"$87,161,771"
47,TX - Texas,361,58370,2631794,12189783,"$337,754,000"
48,UT - Utah,35,4640,210497,830260,"$20,421,047"
49,VA - Virginia,90,17759,728980,3500914,"$84,900,138"
50,VI - Virgin Islands,2,184,5572,33229,"$249,410"
51,VT - Vermont,7,835,38540,198496,"$4,617,302"
52,WA - Washington,62,10322,543013,2500227,"$66,395,948"
53,WI - Wisconsin,77,11080,495561,2209646,"$58,175,208"
54,WV - West Virginia,34,5396,208540,1052914,"$19,297,770"
55,WY - Wyoming,14,1261,32221,116147,"$3,070,645"
56,T O T A L,3906,746368,31932104,150559272,"$3,804,071,633"

In [29]:
urls = ['https://www.ahd.com/states/hospital_MI.html','https://www.ahd.com/states/hospital_AK.html','https://www.ahd.com/states/hospital_AL.html']

for url in urls:
   print(url)

https://www.ahd.com/states/hospital_MI.html
https://www.ahd.com/states/hospital_AK.html
https://www.ahd.com/states/hospital_AL.html

# This is kind of working but access is not happening

In [44]:
urls = ['https://www.ahd.com/states/hospital_MI.html','https://www.ahd.com/states/hospital_AK.html','https://www.ahd.com/states/hospital_AL.html']

for url in urls:
    for i in range(len(urls)):
        df = None
        temp_var = "hostial_state"+str(i)
        df = pd.read_html(str(url))
        df = df[0] # get first table
        df.to_csv(temp_var + '.csv')

# Get states individually

In [45]:
AK = pd.read_html('https://www.ahd.com/states/hospital_AK.html')
AL = pd.read_html('https://www.ahd.com/states/hospital_AL.html')
AR = pd.read_html('https://www.ahd.com/states/hospital_AR.html')
AZ = pd.read_html('https://www.ahd.com/states/hospital_AZ.html')
CA = pd.read_html('https://www.ahd.com/states/hospital_CA.html')
CO = pd.read_html('https://www.ahd.com/states/hospital_CO.html')

In [46]:
AK =AK[0]
AL =AL[0]
AR =AR[0]
AZ =AZ[0]
CA =CA[0]
CO =CO[0]

,Hospital Name,City,StaffedBeds,TotalDischarges,PatientDays,Gross PatientRevenue ($000)
0,Ascension Saint John Hospital,Detroit,612,25466,128671,"$2,326,172"
1,Munson Healthcare Manistee Hospital,Manistee,45,1301,3602,"$202,178"
2,Spectrum Health Zeeland Community Hospital,Zeeland,55,3304,7494,"$188,688"
3,Aleda E. Lutz VA Medical Center,Saginaw,0,0,0,$0
4,Ascension Borgess Hospital,Kalamazoo,371,15308,60736,"$1,768,028"
...,...,...,...,...,...,...
101,UP Health System Portage,Hancock,96,1237,3188,"$153,909"
102,UPHS - Marquette,Marquette,301,8081,38478,"$1,044,523"
103,VA Ann Arbor Healthcare System,Ann Arbor,0,0,0,$0
104,War Memorial Hospital,Sault Saint Marie,120,2449,9608,"$246,734"
105,T O T A L,NaN,23681,1133133,4817558,"$97,497,735"